.h4 {
  border-bottom: 1.5px solid gray;
  color: navy;
  font-family: Times New Roman;
  font-size: 25px;
  font-weight: bold;
  line-height: 24px;
  padding: 5px;
  text-align: center;
}

.form {
  background: white;
  /* border: 3px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 0.5%;
  max-width: 500px;
  padding: 30px 40px;
  width: 50% !important;
}

.Tabs {
  width: 100%;
  /* height: auto; */
  /* min-height: 400px; */
  /* background: gray !important; */
  /* margin: 3.5rem auto 1.5rem; */
  /* padding: 2rem 1rem; */
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }
